---
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/header.astro";
import ContactBtn from '../../components/contactBtn.astro';


import { getCollection } from 'astro:content';
import { Image } from "astro:assets";
const productDetailPage = await getCollection("product_detail");


export async function getStaticPaths() {

  const productDetailPage = await getCollection("product_detail");

  return [
    {
      params: {
        product_section: "filter_media",
      },
      props:{
        title:productDetailPage[0].data.filter_media_products.section_title,
        card:{
          title:productDetailPage[0].data.filter_media_products.product_detail_header_card.card_title,
          description:productDetailPage[0].data.filter_media_products.product_detail_header_card.card_content
        },
        backgroundImg:productDetailPage[0].data.background_image,
        products: productDetailPage[0].data.filter_media_products.product_list,
        pagecard: productDetailPage[0].data.product_detail_card
      }
    },
    {
      params: {
        product_section: 'produtos_complementares',
      },
      props:{
        title: productDetailPage[0].data.complementaty_products.section_title,
        card:{
          title:productDetailPage[0].data.complementaty_products.product_detail_header_card.card_title,
          description:productDetailPage[0].data.complementaty_products.product_detail_header_card.card_content
        },
        backgroundImg:productDetailPage[0].data.background_image,
        products: productDetailPage[0].data.complementaty_products.product_list,
        pagecard: productDetailPage[0].data.product_detail_card
      }
    },
    {
      params: {
        product_section: 'equipamentos_de_filtragem_laboratórial',
      },
      props:{
        title:productDetailPage[0].data.lab_filtration_equipment_products.section_title,
        card:{
          title:productDetailPage[0].data.lab_filtration_equipment_products.product_detail_header_card.card_title,
          description:productDetailPage[0].data.lab_filtration_equipment_products.product_detail_header_card.card_content
        },
        backgroundImg:productDetailPage[0].data.background_image,
        products:productDetailPage[0].data.lab_filtration_equipment_products.product_list,
        pagecard: productDetailPage[0].data.product_detail_card
      }
    },
    {
      params: {
        product_section: 'filter_presses_and_housings',
      },
      props:{
        title:productDetailPage[0].data.filer_presses_and_housing_products.section_title,
        card:{
          title:productDetailPage[0].data.filer_presses_and_housing_products.product_detail_header_card.card_title,
          description:productDetailPage[0].data.filer_presses_and_housing_products.product_detail_header_card.card_content
        },
        backgroundImg:productDetailPage[0].data.background_image,
        products:productDetailPage[0].data.filer_presses_and_housing_products.product_list,
        pagecard: productDetailPage[0].data.product_detail_card
      }
    }
  ];
}
const { products,title,card, backgroundImg,pagecard} = Astro.props;
---
<Layout>
  <Header 
    title={productDetailPage[0].data.headertitle}
    subTitle={productDetailPage[0].data.subtitle} 
    background={backgroundImg}
  />
  <main class="flex flex-col items-center gap-7 md:gap-14 2xl:gap-28 mb-8 md:mb-28 mt-10 2xl:mt-16">
    <div class=" flex justify-center items-center h-fit sm:h-2/6 sm:mt-5">
      <div class=" flex flex-col items-center p-3 bg-primary w-full mx-3 rounded-lg sm:gap-0 sm:inline sm:relative md:w-4/5 h-fit 2xl:w-[1331px]">
          <div class="flex flex-col justify-center items-center xl:p-7 gap-2 xl:items-start w-full h-fit">
              <h5 class="font-Jakarta font-bold text-white w-fit text-base md:text-2xl xl:text-4xl">{card.title}</h5>
              <p class="font-Jakarta font-bold text-white text-center w-full sm:w-fit sm:text-left text-sm md:text-lg xl:text-xl">{card.description}</p>
          </div>
      </div>
    </div>

    <section class="flex flex-col gap-7 w-full text-primary">
      <h3 class=" font-Jakarta text-center text-2xl md:text-3xl xl:text-4xl font-bold">{title}</h3>
    </section>

    <section class="flex flex-wrap justify-center gap-8 px-5 max-w-[1700px]">
      {
        products.map((product:any)=>{
          return(
            <div class=" bg-accent w-[285px] h-[352px] flex flex-col gap-4 items-center min-[940px]:w-[420px] min-[940px]:h-[496px]">
                <Image class="bg-[#FFFFFF] w-[285px] h-[216px] min-[940px]:w-[420px] min-[940px]:h-[309px]" src={product.product_image} alt="product-image"/>
                <div class=" flex flex-col w-[262px] gap-2 min-[940px]:gap-4 h-[105px] items-center min-[940px]:w-[356px] min-[940px]:h-[152px]">
                    <p class=" text-primary w-full font-bold text-sm h-[20px] min-[940px]:text-base min-[940px]:w-[382px] min-[940px]:h-[24px] text-ellipsis overflow-hidden overflow-y-scroll no-scrollbar ">
                      {product.product_name}
                    </p> 
                    <p class=" h-[94px] font-bold text-black text-xs text-justify overflow-hidden overflow-y-scroll no-scrollbar min-[940px]:text-base min-[940px]:h-full min-[940px]:w-[382px]">{product.product_description}</p>
                </div>
            </div>
          )                               
        })  
      }
    </section>

    <div class=" flex justify-center items-center h-fit sm:h-2/6 sm:mt-5 w-full">
      <div class=" flex flex-col items-center p-3 bg-primary w-full mx-3 rounded-lg sm:gap-0 sm:inline sm:relative md:w-4/5 h-[90px] md:h-[100px] xl:h-[118px] 2xl:w-[1208px]">
          <div class="flex flex-col justify-center items-center xl:items-start xl:pl-12 w-full h-fit">
              <h5 class="font-Jakarta font-bold text-white w-fit text-base md:text-2xl xl:text-4xl">{pagecard.card_title}</h5>
              <p class="font-Jakarta font-bold text-white text-center w-full sm:w-fit sm:text-left text-sm md:text-lg xl:text-xl">{pagecard.card_subtitle}</p>
          </div>
          <div class="sm:absolute sm:bottom-[-20px] lg:bottom-[-20px] right-0">
              <ContactBtn btnContent={pagecard.card_button_text}/>
          </div>
      </div>
    </div>
  </main>
</Layout>