---
import { getCollection } from 'astro:content';

import ContactBtn from '../components/contactBtn.astro';
import Layout from '../layouts/Layout.astro';
import Homeproductcard from '../components/homeproductcard.astro';
import HomeHeader from '../components/homeHeader.astro';
import { Image } from "astro:assets";
import HomeFiltroChorumeCard from '../components/homeFiltroChorumeCard.astro';
import HomeFiltroOleo from '../components/homeFiltroOleo.astro';
const homePageData = await getCollection("home_page");
---
<Layout>
	 <HomeHeader/>
	 <main class="flex flex-col items-center gap-7 md:gap-10 2xl:gap-[90px] mb-8 md:mb-28 sm:mt-14 2xl:mt-12">
		<section class=" esconder w-full max-h-[532px] xl:h-[532px] py-5 xl:py-0 bg-accent flex items-center min-[1920px]:w-[1647px]">
			<div class=" w-full xl:w-1/2 flex justify-center items-center px-3">
				<div class="font-Jakarta w-[549px] h-fit flex flex-col gap-8">
					<div class="flex flex-col items-center xl:items-start gap-4 xl:w-full">
						<p class=" text-base lg:text-[22px]">{homePageData[0].data.home_process_card.card_subtitle}</p>
						<h3 class=" text-xl font-bold text-secondary lg:text-4xl">{homePageData[0].data.home_process_card.card_title}</h3>
					</div>
					<p class=" text-sm text-justify sm:text-base lg:text-lg">{homePageData[0].data.home_process_card.card_content}</p>
					<div class=" m-auto">
						<ContactBtn btnContent={homePageData[0].data.home_process_card.card_button_text} btnLink="ttps://wa.me/55000000000"/>
					</div>
				</div>
			</div>
			<div class=" hidden h-full w-1/2 xl:flex justify-center">
				<Image class="h-full max-w-[960px] w-full" src={homePageData[0].data.home_process_card.card_image} alt={'group image'}/>
			</div>
		</section>

		<section class="esconder flex flex-col gap-7 items-center">
			<h3 class=" text-primary font-Jakarta text-2xl md:text-3xl xl:text-5xl font-bold">{homePageData[0].data.first_section_title}</h3>
			<p class="text-primary font-Jakarta text-center text-lg md:text-2xl xl:text-3xl font-bold min-w-[296px]">{homePageData[0].data.first_section_subtitle}</p>
		</section>

		<HomeFiltroChorumeCard cardData={homePageData[0].data.home_chorume_service_card}/>

		<section class="esconder w-full flex flex-wrap gap-6 justify-center">
			{
				homePageData[0].data.home_service_cards.map((data:any)=>{
					return(
						<div class=" esconder relative flex flex-col items-center w-[298px] h-[263px] xl:w-[531px] xl:h-[468px]">
							<Image class=" absolute w-full h-full object-cover rounded-xl xl:rounded-[20px]" src={data.service_image} alt="bg-img"/>
							<h5 class=" text-center text-white font-Jakarta font-bold z-10 text-lg sm:text-2xl top-[190px] xl:top-[353px] xl:w-[447px] xl:text-[32px] absolute">{data.service_name}</h5>
						</div>
					)
				})
			}
		</section>

		<section class="esconder flex flex-col gap-7 items-center">
			<p class="text-primary font-Jakarta text-center text-lg md:text-2xl xl:text-3xl font-bold min-w-[296px]">Filtro de óleo para restaurantes</p>
		</section>

		<HomeFiltroOleo Data={homePageData[0].data.home_oil_service_section}/>

		<section class="esconder flex flex-col gap-7 items-center">
			<h3 class=" text-primary font-Jakarta text-2xl md:text-3xl xl:text-5xl font-bold">{homePageData[0].data.second_section_title}</h3>
			<p class="text-primary font-Jakarta text-center text-lg md:text-2xl xl:text-3xl font-bold min-w-[296px]">{homePageData[0].data.second_section_subtitle}</p>
		</section>

		<section class="esconder flex h-fit w-full justify-center"	>
			<div class="flex flex-wrap w-[1647px] justify-center gap-y-32 mt-[100px] md:gap-y-44 gap-x-52 md:mt-[150px]">
				{
					homePageData[0].data.home_product_cards.map((data:any)=>{
						return <Homeproductcard componentData={data}/>
					})
				}
			</div>
		</section>
	 </main>
</Layout>
