---
import { getCollection } from 'astro:content';

import ContactBtn from '../components/contactBtn.astro';
import Layout from '../layouts/Layout.astro';
import Homeproductcard from '../components/homeproductcard.astro';
import HomeHeader from '../components/homeHeader.astro';


const homePageData = await getCollection("home_page");

---
<Layout>
	 <HomeHeader/>
	 <main class="flex flex-col items-center gap-7 md:gap-14 2xl:gap-28 mb-8 md:mb-28 sm:mt-14 2xl:mt-16">
		<div class=" bg-accent rounded flex justify-around items-center p-6 md:rounded-[20px] xl:w-[1200px] 2xl:w-[1433px] 2xl:h-[532px]">
			<div class=" font-Jakarta sm:w-[467px] flex flex-col items-center gap-8">
				<div class="flex flex-col items-center xl:items-start gap-4 xl:w-full">
					<p class=" text-base lg:text-[22px]">{homePageData[0].data.home_process_card.card_subtitle}</p>
					<h3 class=" text-xl font-bold text-secondary lg:text-4xl">{homePageData[0].data.home_process_card.card_title}</h3>
				</div>
				<p class=" text-sm text-justify sm:text-base lg:text-lg sm:max-h-[167px]">{homePageData[0].data.home_process_card.card_content}</p>
				<div class=" m-auto">
					<ContactBtn btnContent={homePageData[0].data.home_process_card.card_button_text} />
				</div>
			</div>
			<img class=" hidden rounded-lg w-[600px] xl:inline 2xl:w-[707px] 2xl:h-[442] 2xl:rounded-[20px]" src={homePageData[0].data.home_process_card.card_image} alt="group image">
		</div>

		<section class=" flex flex-col gap-7 items-center">
			<h3 class=" text-secondary font-Jakarta sm:text-2xl md:text-3xl xl:text-4xl font-bold">{homePageData[0].data.first_section_title}</h3>
			<p class="font-Jakarta text-center sm:text-lg md:text-2xl xl:text-[32px] font-bold min-w-[296px]">{homePageData[0].data.first_section_subtitle}</p>
		</section>
		
		<section class="w-full flex flex-wrap gap-6 justify-center">
			{
				homePageData[0].data.home_service_cards.map((data)=>{
					return(
						<div class={`relative flex flex-col items-center w-[298px] h-[263px] xl:w-[531px] xl:h-[468px]`}>
							<img class=" absolute w-full h-full object-cover rounded-xl xl:rounded-[20px]" src={data.service_image} alt="bg-img"/>
							<h5 class=" text-center text-white font-Jakarta font-bold z-10 text-lg sm:text-2xl top-[190px] xl:top-[353px] xl:w-[447px] xl:text-[32px] absolute">{data.service_name}</h5>
						</div>
					)
				})
			}
		</section>

		<section class=" flex flex-col gap-7 items-center">
			<h3 class=" text-secondary font-Jakarta sm:text-2xl md:text-3xl xl:text-4xl font-bold">{homePageData[0].data.second_section_title}</h3>
			<p class="font-Jakarta text-center sm:text-lg md:text-2xl xl:text-[32px] font-bold min-w-[296px]">{homePageData[0].data.second_section_subtitle}</p>
		</section>

		<section class=" w-full h-fit xl:h-[222px] bg-accent flex items-center py-5 xl:py-0 justify-center xl:justify-evenly">
			<div>
				<h3 class=" hidden font-Jakarta xl:inline md:text-5xl text-primary">{homePageData[0].data.home_product_division.home_product_division_title}</h3>
			</div>
			<div class="flex flex-wrap justify-start text-base md:text-[28px] max-[951px]:w-2/3 min-[952px]:mx-3 gap-9 xl:gap-[103px]">
				<div class=" flex flex-col gap-9">
					<h5 class="font-Jakarta text-primary">{homePageData[0].data.home_product_division.home_product_division_types.type1}</h5>
					<h5 class="font-Jakarta text-primary">{homePageData[0].data.home_product_division.home_product_division_types.type2}</h5>
				</div>
				<div class=" flex flex-col gap-9">
					<h5 class="font-Jakarta text-primary">{homePageData[0].data.home_product_division.home_product_division_types.type3}</h5>
					<h5 class="font-Jakarta text-primary">{homePageData[0].data.home_product_division.home_product_division_types.type4}</h5>
				</div>
			</div>
		</section>
		
		<section class=" hidden 2xl:flex flex-wrap h-[909px] w-[1305px] justify-end gap-y-28 gap-x-52">
			{
				homePageData[0].data.home_product_cards.map((data)=>{
					return <Homeproductcard componentData={data}/>
				})
			}
		</section>
	 </main>
</Layout>
