---
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';
const footerDataCms = await getCollection("footer_bar");

const navdata=[
    {
        link:'/product',
        title:footerDataCms[0].data.footer_navigation.navigation[0].text
    },{
        link:'/service',
        title:footerDataCms[0].data.footer_navigation.navigation[1].text
    },{
        link:'/about',
        title:footerDataCms[0].data.footer_navigation.navigation[2].text
    }
]
---
<footer class=" bg-primary w-full min-h-[328px] flex flex-col justify-around lg:justify-evenly">
    <div class="flex flex-col gap-[73px] md:justify-center md:flex-row lg:gap-32"> <!-- lg:justify-center lg:flex-row lg:gap-32 -->
        <div class="flex flex-col gap-5 items-center mt-9">
            <h3 class=" font-Inter  font-bold text-[32px] text-white xl:text-4xl">Filter Med</h3>
            <div class=" flex flex-row gap-4">
                {
                    footerDataCms[0].data.footer_social_media.social_media_list.map((icon)=>{
                        return <a href={icon.link}>
                            <Image class=" size-7 xl:size-11" src={icon.social_media_image} alt={'socialmedia icon'}/>
                        </a>
                    })
                }
            </div>
        </div>
        <div class="flex flex-col justify-center md:items-start gap-[73px] md:flex-row lg:gap-14">
            <div class="flex flex-col text-white gap-6">
                <h3 class="text-center md:text-start text-2xl font-bold font-Jakarta">{footerDataCms[0].data.footer_navigation.name}</h3>
                {
                    navdata.map((linkdata)=>{
                        return <a class="font-Jakarta text-xl text-center" href={linkdata.link}>{linkdata.title}</a>
                    })
                }
            </div>
            <div class="text-base text-white font-Jakarta font-bold text-center flex flex-col gap-4 md:items-start xl:text-2xl">
                <h4 class="text-2xl font-bold font-Jakarta">{footerDataCms[0].data.footer_address.adress_title}</h4>
                <h4>{footerDataCms[0].data.footer_address.adress_text}</h4>
                <h4>{footerDataCms[0].data.footer_address.phone_title}</h4>
                <h4>{footerDataCms[0].data.footer_address.phone_number}</h4>
            </div>
        </div>
    </div>
    <h3 class=" font-Jakarta text-xl text-white text-center mt-9">{footerDataCms[0].data.copyright}</h3>
</footer>