---
import Herosection from '../components/herosection.astro';
import { Image } from "astro:assets";
import { getCollection } from 'astro:content';
const homePageData = await getCollection("home_page");
---
<section class="w-full h-fit">
    <Herosection/>
    <div class="flex flex-col gap-11 my-5">
        <h3 class="font-bold text-primary text-4xl text-center">Conheça os nossos sistemas</h3>
        <div class="flex flex-wrap justify-center h-fit w-full gap-14">
            {
                homePageData[0].data.home_service.map((cardData)=>{
                    return(
                        <a href={cardData.card_link}>
                            <div class=" w-[317px] h-[380px] bg-primary flex flex-col gap-3 items-center rounded-lg">
                                <Image class="w-full h-[202px] rounded-t-lg object-cover" src={cardData.background_image} alt='card image'/>
                                <div class="flex flex-col gap-3 text-center w-[277px]">
                                    <h4 class=" text-white font-Jakarta font-bold text-lg">{cardData.card_title}</h4>
                                    <p class=" min-h-[64px] text-justify font-medium text-white font-Jakarta text-xs">{cardData.card_subtitle}</p>
                                    <button class=" bg-secondary w-full h-[42px] rounded mb-2 font-bold text-white">{cardData.card_button_text}</button>
                                </div>
                            </div>
                        </a>
                    )
                })
            }
        </div>
    </div>
</section>