---
import burgerMenu from '../assets/burger-menu.svg'
import closeicon from '../assets/close-icon.svg'
import ContactBtn from './contactBtn.astro';
import { Image } from "astro:assets";
const navdata=Astro.props;
interface Linkdata{
    link:string,
    title:string,
    id:number
}
---
<div 
    x-data="{
        mobile:false,
        setMobile(){
            if(document.documentElement.clientWidth<1024){
                return this.mobile=true
            }else{
                return this.mobile=false
            }
        }
    }"
    x-init="setMobile()"
    @resize.window.debounce="setMobile()"
>
    <template x-if="mobile">
        <button 
            class="flex justify-center items-center w-11" 
            x-data="{
                open: false,
                toggle(){
                    this.open = ! this.open
                }
            }" 
            @click="toggle()"
        >
            <template x-if="open">
                <div>
                    <Image class=" size-10 object-fill" src={closeicon} alt="close-button-"/>
                    <div
                        x-data={`{navlist:[${navdata.navlist.map((data:Linkdata)=>{return `{link:'${data.link}',title:'${data.title}',id:${data.id}}`})}]}`}
                        class="absolute left-0 w-screen top-[60px] sm:top-[101px] h-fit flex flex-col items-center gap-4 bg-primary py-4 rounded-b-lg shadow-xl"
                    >
                        <template x-for="data in navlist" :key="data.id">
                            <a class="font-Inter font-bold text-xl text-white" x-text="data.title" x-bind:href="data.link"></a>
                        </template>
                        <div class="w-[240px]">
                            <ContactBtn btnContent="Entre em contato"/>
                        </div>
                    </div>
                </div>
            </template>
            <template x-if="!open">
                <Image class=" size-9 object-fill" src={burgerMenu} alt="burger-button-"/>
            </template>
        </button>
    </template>
    <template 
        x-if="!mobile"
        x-data={`{navlist:[${navdata.navlist.map((data:Linkdata)=>{return `{link:'${data.link}',title:'${data.title}',id:${data.id}}`})}]}`}
    >
        <nav class=" flex flex-row lg:gap-16 xl:gap-28 items-center">
            <template x-for="data in navlist" :key="data.id">
                    <a class="font-Inter font-bold lg:text-2xl" x-text="data.title" x-bind:href="data.link"></a>
            </template>
        </nav>
    </template>
</div>
